*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
}
.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    box-shadow: 0 0 80px 80px red;
    z-index: -1;
    animation-name: aylana;
    animation-duration: 15s;
    transition: .5s;
    animation-iteration-count: infinite;
}

@keyframes aylana{
    0%{
        transform: translateX(30px) translateY(20px);
    }
    25%{
        box-shadow: 0 0 100px 100px green;
        transform: translateX(250px) translateY(20px) rotate(1turn);
    }
    50%{
        transform: translateX(250px) translateY(260px) rotate(0.5turn);
        box-shadow: 0 0 90px 90px blue;
    }
    75%{
        transform: translateX(30px) translateY(260px) rotate(1turn);
        box-shadow: 0 0 110px 110px yellow;
    }
    100%{
        transform: translateX(30px) translateY(20px);
    }
}